<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.liteav.demo.videouploader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>

        <activity
            android:name=".videopublish.TCVideoPublishActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".videopublish.TCCompressActivity"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="com.tencent.liteav.demo.videocompress" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".videopublish.pic.TCPicturePublishActivity"
            android:label="@string/title_activity_txdownload"></activity>

        <receiver android:name=".videoupload.impl.TVCNetWorkStateReceiver">
            <intent-filter>
                //检测网络变化的acton
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
